body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; 
}

section,
.main-head,
footer {
	position: relative;
}
.main-head {
	min-height: 620px;
	padding-top: 20px;
}
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; 
}
  .loader .loader-inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; 
}
.logo-container {
	float: left;
}
svg {
	height: 70px;
	width: 70px;
	z-index: 100;
	position: relative;
}
.toggle-menu {
	width: 70px;
	height: 70px;
	float: right;
	position: fixed;
  right: 20px;
  top: 20px;
	z-index: 100;
	border: none;
	& span {
  	display: block;
  }
}
/*header menu*/
.sandwich {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
}
.sw-topper {
  position: relative;
  top: 0;
  width: 42px;
  height: 3px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
  position: relative;
  width:42px;
  height: 3px;
  top: 10px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}
.sw-footer {
  position: relative;
  width: 42px;
  height:3px;
  top: 20px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
  top: 10px;
  transform: rotate(140deg);
}
.sandwich.active .sw-bottom {
  top: 7px;
  transform: rotate(-140deg);
}
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}
.toggle-menu {
  background-color: #000;
}
/*top menu*/
.top-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 50;
	right: 0;
	top: 0;
	display: none;
	ul,
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	ul {
		margin-top: 180px;
		text-align: center;
    li {
      &:nth-child(1) a {
        animation-duration: .5s;
      }
      &:nth-child(2) a {
        animation-duration: 1s;
      }
      &:nth-child(3) a {
        animation-duration: 1.5s;
      }
      &:nth-child(4) a {
        animation-duration: 2s;
      }
    }
		a {
			color: #fff;
			display: inline-block;
			padding: 20px 0;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 3px;
      width: 100%;
      transition: all .6s ease;
		}
	}
}
/*name head*/
.top-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  .top-description {
      display: table-row;
    }
  .top-center {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, .2);
    }
  .top-text {
    display: inline-block;
      p {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        animation-delay: 1.2s;
      }
      h1 {
        display: inline-block;
        padding: 15px 30px;
        margin-right: 20px;
        margin-left: 20px;
        color: #fff;
        border: 5px dashed #fff;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;
        background-color: rgba(0, 0, 0, .5);
        animation-delay: .5s;
      }
  }
}
.h-opacity {
  opacity: .3;
  transition: (all .2s ease);
}
/*sections*/
section {
  padding: 70px 0 90px;
  overflow: hidden;
  h2 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 0 20px;
  }
  .person-head {
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-align: left;
    margin-bottom: 30px;
    color: #555;
  }
  h3 {
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 35px;
  }
}
.sec-description-wrap {
  text-align: center;
  .sec-description {
    display: inline-block;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    position: relative;
    margin-bottom: 130px;
    font-weight: bold;
    &::after {
      content:"";
      width: 150px;
      height: 1px;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px;
      position: absolute;
    }
  }
}
.sec-about { 
  p {
  margin-bottom: 25px;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin-bottom: 10px;
  }
  .social-wrap {
    margin-top: 10px;
  }
}
.social-wrap {
   display: inline-block;
   font-size: 2em;
  }
.person {
  text-align: center;
  margin-bottom: 35px;
  img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%;
  }
}
.resume-container {
  h3 {
    margin-top: 30px;
    letter-spacing: 0em;
    font-size: 1.4em;
    font-weight: 600;
    opacity: .8;
  }
}
.resume-container .left {
  text-align: right;
  border-right: #d2d2d2 1px solid;
  h3 {
    text-align: right;
  }
}
.resume-container .right{
  text-align: left;
  h3 {
    text-align: left;
  }
}
.resume-icon {
  font-size: 40px;
  margin-bottom: 35px;
}
.resume-item .year {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 10px;
}
.resume-item  {
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 30px;
}
.resume-item .resume-description {
  font-weight: 600;
}
.resume-item:last-child {
  margin-bottom: 0;
}
/*gallery*/
.sec-portfolio ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.1em;
  }
}
.sec-portfolio ul {
  margin-bottom: 50px;
  text-align: center;
}
#portfolio_grid .mix {
  display: none;
}
.portfolio-item {
  padding: 1px;
  img {
    width: 100%;
  }
  &:hover .port-item-content {
  opacity: 1;
  padding-top: 20%;
  }
}
.port-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  text-align: center;
  padding-top: 15%;
  opacity: 0;
  transition: all .6s;
  h3 {
    color: #fff;
    margin-bottom: 10px;
  }
  a {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
  }
}
.port-description { 
  background-color: #fff;
  max-width: 800px;
  margin: auto;
  position: relative;
  p, h3, a {
    padding: 20px;
    padding-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
  }
  img {
    width: 100%;
    margin-top: 20px;
  }
}
.resume-skills {
  margin-bottom: 10px;
}
/*contacts*/
.contact-box {
  margin-bottom: 30px;
  h3 {
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    font-size: 1em;
  }
  .contact-icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.main-form {
  button {
      border: none;
      color: #fff;
      line-height: 32px;
      padding: 5px 25px;
      font-size: 1.1em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 600;
      margin-top: 15px;
  }
}
.main-form {
  display: block;
  letter-spacing: 0.1em;
  input,
  textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    line-height: 35px;
    text-indent: 10px;
    letter-spacing: 0.1em;
    background-color: transparent;
  }
}
.form-group {
  margin-bottom: 5px;
}
.control-group {
  margin-bottom: 25px;
}
/*footer*/
.main-footer {
  padding: 50px 0;
  font-size: 1em;
  .social-wrap {
    float: right;
    line-height: 0;
    ul {
      margin: 0;
    }
  }
}
